/* Gorputzaren estiloa*/
body
	{
		background-color:#999;
	}

/*Argazkien estiloa
.argazki
	{
		height: 100px;
		width: 130px;
		border:2px solid #000;
	}
	*/
	
.left{
 float: left;
 width:%45;

}
.right{
    float: right;
	 width:%45;

}

/*
h1
	{
	
		color:#0B610B;
		font-family: Verdana, Sans-serif; 
	}
	
h2
	{
	
		color:#0B610B;
		font-family: Comic Sans, cursive;
		
	}
	
p
	{
	
		color:#0B610B;
	}*/